#events-title {
  padding: 1% 5% 1%;
}
#event-document {
  height: 807px;
}
.col-background {
  background-image: url("../images/IMG_3055-50.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(3px);
}
.blur {

}
