/* Element Styling */
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Navbar Styling */
#navbar-style {
  padding: 1% 5% 1%;
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
.container-fluid {
  margin: 0;
}
/* Title Styling */
#title {
  padding: 1% 5% 7%;
}
.image-container {
  text-align: center;
}
/* Heading Styling */
.heading-text {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.header-image {
  width: 90%;
}
/* Section Styling */
.green-section {
  background-color: #3E7C17;
  color: #FFF;
}
.cream-section {
  background-color: #FEF5ED;
}
/* @media (prefers-color-scheme: dark) {
  .cream-section {
    background-color: #000;
    color: #FFF;
  }
} */
/* Reasons Styling */
#reasons {
  padding: 5% 5% 3%;
  text-align: center;
}
.reason-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 3%;
}
.reason-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.reason-image-left {
  width: 49%;
}
.reason-image-middle {
  width: 88.3%;
}
.reason-image-right {
  width: 89%;
}
.reason-title {
  padding: 3%;
}
.reason-description {
  text-align: left;
}
/* Team Styling */
#team-description {
  padding: 5% 5% 3%;
}
.team-image {
  margin: auto;
  position: relative;
  margin-left: 50px;
  width: 80%;
}
@media (max-width: 1028px) {
  .team-image {
    margin: auto;
    position: relative;
    margin-left: 50px;
    margin-bottom: 80px;
    width: 80%;
  }
}
.team-heading-text {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}
.team-description-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
/* Club Styling */
#club-description {
  padding: 5% 5% 3%;
}
.club-image {
  padding: auto;
  position: relative;
  margin-left: 50px;
  width: 40%;
}
.club-heading-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
/* Links Styling */
#links-section {
  padding: 5% 5% 5%;
}
.link-button {
  margin-bottom: 10px;
}
.link-section-heading-top {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.link-section-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}
/* Footer Styling */
#footer {
  padding: 1%;
  position: relative;
  text-align: center;
  z-index: 2;
}
.footer-icon {
  color: black;
  margin: auto 5px;
}
