a {
  color: #FFF;
}
#coach-description {
  padding: 1% 5% 3%;
}
#officer-description {
  padding: 1% 5% 3%;
}
.officer-container {
  text-align: center;
}
.coach-text-top {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.coach-text {
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}
.officer-heading-text {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.officer-text {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  margin-top: 30px;
}
.grade-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
}
.coach-image-1 {
  width: 70%;
}
.coach-image-2 {
  width: 50%;
}
.officer-image {
  width: 90%;
}
