a:hover {
  color: #FFC300;
}
#contact-info {
  padding: 3% 5% 3%;
}
.contact-heading-text {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}
.contact-container {
  padding-top: 3%;
}
.contact-image-1 {
  width: 70%;
}
.contact-image-2 {
  width: 86%;
}
.contact-image-3 {
  width: 64.7%;
}
.contact-description {
  font-family: "Roboto", sans-serif;
  font-size: 2.1rem;
  margin-top: 20px;
  text-align: center;
}
.contact-description-extra {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.col-lg-3 {
  text-align: center;
}
